.editor-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: inherit;
}

.container {
    box-sizing: border-box;
    width: inherit;
    flex-grow: 1;
    background-color: #e5e5e5;
    padding: 16px;
    overflow-y: scroll;
}

header, footer {
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 24px;
    background-color: #00e3eb;
}

header a {
    color: #1a1a1a;
}

.task {
    display: contents;
    box-sizing: border-box;
    min-height: 42px;
    color: crimson;
}

.task > div {
    padding: 8px;
}